.wrapper {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
        background: rgb(22, 24, 35, 0.06);
    }
}


.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
    align-items: center;
}

.name {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 0px;
}
.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
    font-size: 1.2rem;
}

.userName {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    align-self: flex-start;
}
